{erl_opts, [debug_info]}.

{deps, []}.

{plugins, [pc, rebar3_hex]}.

{artifacts, ["priv/libsyslogger.so"]}.

{port_specs,
 [
    {
        % Any arch
        ".*",
        % Create library
        "priv/libsyslogger.so",
        % From files
        ["c_src/*.c"],
        % Using options
        [ {env, [{"CFLAGS", "$CFLAGS -std=c99 -O2 -Wall -Wextra"}]}]
     }
 ]}.

{provider_hooks,
 [
    {post,
     [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
     ]}
 ]}.

{profiles, [
  {prod, [{erl_opts, [deterministic]}]}
]}.

